@import url('https://fonts.googleapis.com/css?family=Raleway:300');

/*CSS by Inventor02 modified by oskikiboy*/

* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: #3273dc;
}

html, body {
    height: 100%;
    /*font-family: 'Raleway', sans-serif;*/
}

body {
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 21px;
    color: #ECF0F1;
}

#container {
    left: 50%;
    top: 50%;
    margin-top: -80px;
    margin-left: -444px;
    min-width: 900px;
    min-height: 330px;
}

.banner {
    background: -webkit-linear-gradient(45deg, rgba(35, 50, 59, 1) 0%, rgba(95, 88, 128, 1) 100%);
    background: linear-gradient(45deg, rgba(35, 50, 59, 1) 0%, rgba(95, 88, 128, 1) 100%);
}

#logo {
    height: 150px;
    width: 150px;
    border-radius: 6px;
}

#logo > img {
    border-radius: 6px;
    width: 99%;
    height: 99%;
}

.front {
    position: fixed;
    z-index: 5000000;
    width: 100%;
}

#dark {
    color: #363636;
}


/*Totally not ripped of Aurora*/

.someone {
    transition: all 0.25s;
    border-radius: 50%;
    background-color: #ddd;
    border: 5px solid #64016b;
    display: inline-block;
    max-width: 75%;
    width: 96px;
    height: 96px;
}

.someone:hover {
    transform: /*scale(1.5)*/
            rotate(360deg);
}

.founder {
    border: 5px solid #5400e9;
}

.lead {
    border: 5px solid #E41E4A;
}

.ldev {
    border: 5px solid #914A83;
}

#lead {
    max-width: 50em;
    margin: 0 auto;
}

.dev {
    border: 5px solid #3490BF;
}

.gfx{
    border: 5px solid #00d1b2;
}

.py {
    border: 5px solid #00FF00;
}

.nav.is-dark {
    background-color: #232B2D;
    color: #F6F7F7;
}

.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7;
}

.nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
}

.aside {
    background-color: #354052;
    margin-right: -10px;
    margin-top: 11px;
}

.aside .main {
    padding: 40px;
    color: #6F7B7E;
}

.aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
}

.aside .main .item.active {
    color: #F6F7F7;
}

.aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
}

.aside .main .name {
    font-size: 16px;
    font-weight: bold;
}

.admin-panel {
    padding-bottom: 0;
}

.content {
    display: block;
    padding: 40px 20px;
}

.hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
}

.panel-icon {
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
    width: 16px;
    color: #aeb1b5;
    float: left;
    margin: 0 4px 0 -2px;
}

.panel-icon .fa {
    font-size: inherit;
    line-height: inherit;
}

.panel-heading {
    background-color: #f5f7fa;
    border-bottom: 1px solid #d3d6db;
    border-radius: 4px 4px 0 0;
    color: #222324;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.panel-list a {
    color: #69707a;
}

.panel-list a:hover {
    color: #1fc8db;
}

.panel-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    padding: 5px 10px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.panel-tabs a {
    border-bottom: 1px solid #d3d6db;
    margin-bottom: -1px;
    padding: 5px;
}

.panel-tabs a.is-active {
    border-bottom-color: #222324;
    color: #222324;
}

.panel-tabs:not(:last-child) {
    border-bottom: 1px solid #d3d6db;
}

.panel-block {
    color: #222324;
    display: block;
    line-height: 16px;
    padding: 10px;
}

.panel-block:not(:last-child) {
    border-bottom: 1px solid #d3d6db;
}

a.panel-block:hover {
    background-color: #f5f7fa;
}

.panel {
    border: 1px solid #d3d6db;
    border-radius: 5px;
}

.panel:not(:last-child) {
    margin-bottom: 20px;
}

