<!DOCTYPE html>
<html>
<head>
    <title>TerraBite &bull; Dashboard</title>

    <% include ./partials/head %>

    <script src="/js/miny-part/particles.js"></script>
</head>
<style type="text/css">

    #particles-js {
        width: 100%;
        height: 0px;
        background-color: #1D1D1D;
        background-image: url('');
        background-repeat: no-repeat;
    }
    .particles-js-canvas-el {
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }

    .banner {
        background: -webkit-linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
        background: linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
    }

    /*CSS by Inventor02*/

    @import url(https://fonts.googleapis.com/css?family=Ubuntu);

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: "Ubuntu", sans-serif;
        font-size: 21px;
        color: #ECF0F1;
    }

    #container {
        left: 50%;
        top: 50%;
        margin-top: -225px;
        margin-left: -444px;
        min-width: 900px;
        min-height: 330px;
    }


    #logo {
        height: 150px;
        width: 150px;
        border-radius: 6px;
    }

    #logo > img {
        border-radius: 6px;
        width: 100%;
        height: 100%;
    }

    .front {
        z-index: 5000000;
    }
    .terrasize {
        height: 500px;
    }
</style>
<body>
<div id="particles-js" class="is-hidden-mobile">
</div>
<section class="hero is-dark is-medium banner terrasize" style="font-family: 'Raleway', sans-serif;">
    <div class="hero-head">
        <% include ./partials/nav %>
    </div>
    <div class="hero-body">
        <div class="container is-hidden-mobile" style="margin: auto">
            <div class="columns">
                <% include ./partials/icon %>
                <div class="column is-9">
                    <% include ./partials/title %>
                    <h2 style="margin-top: -1.2rem;">Administration Panel</h2>
                </div>
            </div>
        </div>
        <div class="container has-text-centered is-hidden-tablet">
            <h1 class="title is-1">TerraBite</h1>
            <h2 class="subtitle is-4">Administration Panel</h2>
        </div>
    </div>
</section>
<% if (superMaintainer) { %>
<a href="/global-options">
<div class="notification is-danger" style="border-radius: 0px;" id="notification">
    <button class="delete"></button>
    <div class="has-text-centered">
        It seems that you are a Developer or Owner. You can access the Global bot Dashboard by clicking this box.
    </div>
</div>
</a>
<% } %>
<section class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><strong>&bull;&nbsp;Guild Dashboard</strong></h1>
            <h2 class="subtitle is-4"><i>You can change guild specific settings below!</i></h2>
            <hr>
        </div>

        <div class="container">
            <div class="columns">
                <% for(var x = 0; x < adminGuilds.length; x++) { %>
                <div class="column is-one-quarter">
                    <center>
                        <div class="card" style="text-align: left;">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="<%= adminGuilds[x].iconURL %>">
                                </figure>
                            </div>
                            <div class="card-content" style="max-height: 255px; overflow-y: scroll;">
                                <h3 class="title is-3"><b><%= adminGuilds[x].name %></b></h3>

                                <nav class="level">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Members</p>
                                            <p class="title"><b><%= adminGuilds[x].members %></b></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Days Active</p>
                                            <p class="title" title="<%= adminGuilds[x].rawCreated %>">
                                                <b><%= adminGuilds[x].formattedCreated %></b><br></p>
                                        </div>
                                    </div>
                                </nav>

                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-32x32">
                                            <img src="<%= adminGuilds[x].ownerAvatar %>">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-5"><%= adminGuilds[x].ownerName %></p>
                                        <p class="subtitle is-6">@<%= adminGuilds[x].ownerUsername %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="card-footer-item" onclick="openWIPmodal()"><b>Manage Settings</b></a>
                            </div>
                        </div>
                    </center>
                </div>

                <% if(x % 4 === 3 && x != adminGuilds.length - 1 && x != 0) { %>
            </div>
            <div class="columns">
                <% } %>
                <% } %>
            </div>
        </div>
    </div>
</section>

<% include ./partials/foot %>
<% include ./partials/up %>
<% include ./partials/sio %>
<script src="/js/miny-part/app.js"></script>
</body>
</html>