<!DOCTYPE html>
<html>
<head>
    <title>TerraBite &bull; Dashboard</title>

    <% include ./partials/head %>

    <script src="/js/raphael.min.js"></script>
    <script src="/js/morris.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        (function() {
            'use strict';
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            var socket = io.connect('http://localhost:8080');
            function drawChart() {
                var options = {
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    pointSize: 3
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                var dataArray = [['Time', 'CPU Average (%)', 'Used Memory (GB)'], [new Date(), 0, 0]];
                var data = google.visualization.arrayToDataTable(
                    dataArray
                );
                chart.draw(data, options);

                socket.on('resources', function (load) {
                    dataArray.push([new Date(), load.cpu, load.memory]);
                    data = google.visualization.arrayToDataTable(
                        dataArray
                    );
                    chart.draw(data, options);
                    document.getElementById("cpu").innerHTML = load.cpu + "%";
                    document.getElementById("mem").innerHTML = load.memory + "GB";
                });
            }
        })();
    </script>

    <script src="/js/miny-part/particles.js"></script>
</head>
<style type="text/css">

    #particles-js {
        width: 100%;
        height: 0px;
        background-color: #1D1D1D;
        background-image: url('');
        background-repeat: no-repeat;
    }
    .particles-js-canvas-el {
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }

    .banner {
        background: -webkit-linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
        background: linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
    }

    /*CSS by Inventor02*/

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-size: 21px;
        color: #ECF0F1;
    }

    #container {
        left: 50%;
        top: 50%;
        margin-top: -225px;
        margin-left: -444px;
        min-width: 900px;
        min-height: 330px;
    }


    #logo {
        height: 150px;
        width: 150px;
        border-radius: 6px;
    }

    #logo > img {
        border-radius: 6px;
        width: 100%;
        height: 100%;
    }

    .front {
        z-index: 5000000;
    }
    .terrasize {
        height: 500px;
    }
    .morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
    .morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

    #left {
        align-items
    }
</style>
<body>
<div id="particles-js" class="is-hidden-mobile">
</div>
<section class="hero is-dark is-medium banner terrasize" style="z-index: -5;">
    <div class="hero-head">
        <% include ./partials/nav %>
    </div>
    <div class="hero-body">
        <div class="container is-hidden-mobile" style="margin: auto">
            <div class="columns">
                <% include ./partials/icon %>
                <div class="column is-9">
                    <% include ./partials/title %>
                    <h2 style="margin-top: -1.2rem;">Global Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="container has-text-centered is-hidden-tablet">
            <h1 class="title is-1">TerraBite</h1>
            <h2 class="subtitle is-4">Global Dashboard</h2>
        </div>
    </div>
</section>
<section>
<div class="columns">
    <aside class="column is-2 aside hero is-fullheight is-hidden-mobile">
        <div>
            <div class="main">
                <div class="title">Main</div>
                <a class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a>
                <a href="/dashboard" class="item"><span class="icon"><i class="fa fa-user"></i></span><span class="name">User Guilds</span></a>
            </div>
        </div>
    </aside>
    <div class="column is-10 admin-panel">
        <nav class="nav" id="top">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item" href="../index.html">
                    </a>
                </div>
                <span class="nav-toggle" id="nav-toggle-2">
            <span></span>
            <span></span>
            <span></span>
          </span>
                <div class="nav-right nav-menu is-hidden-tablet" id="nav-menu-2">
                    <a href="#" class="nav-item is-active">
                        Dashboard
                    </a>
                    <a href="#" class="nav-item">
                        Activity
                    </a>
                    <a href="#" class="nav-item">
                        Timeline
                    </a>
                    <a href="#" class="nav-item">
                        Folders
                    </a>
                </div>
            </div>
        </nav>
        <section class="hero is-small">
            <div class="hero-head">
                <div class="has-text-left" style="align-items: left;position: absoloute;">
                    <h1 class="title">
                        &nbsp;&nbsp;&bull;&nbsp;Global Bot Dashboard
                    </h1>
                    <h2 class="subtitle">
                        &nbsp;&nbsp;&nbsp;Be carefull about what you do here!
                    </h2>
                </div>
            </div>
            <!-- Hero content: will be in the middle -->
            <div class="hero-body has-text-left" style="align-items: left">
            </div>

            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="color: #363636;">Guild Count</p>
                            <p class="title"><%= guildamount %></p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="color: #363636;">Uptime</p>
                            <p class="title"><%= botuptime %></p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="color: #363636;">Users</p>
                            <p class="title"><%= useramount %></p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="color: #363636;">Ping</p>
                            <p class="title" id="ping">ms</p>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section class="section">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full-desktop is-full-mobile">
                    <section class="panel">
                        <p class="panel-heading">
                            System Metrics
                        </p>
                        <div class="panel-block">
                            <div id="curve_chart" style="height: 280px; position: relative;"></div>
                        </div>
                        <div class="panel-block">
                            <a class="button is-default is-outlined is-fullwidth" onclick="opendatamodal()">
                                View Data
                            </a>
                        </div>
                    </section>
                </div>
                <div class="column is-full-desktop is-full-mobile">
                    <section class="panel has-text-left" style="align-items: left;position: absoloute;margin:left">
                        <p class="panel-heading">
                            Client Information:
                        </p>
                        <div class="panel-block">
                            <br>
                            <br>
                            <div class="container is-fluid">
                            <div class="columns">
                                <img id="logo" src="<%= user.displayAvatarURL %>">
                                <div class="column is-9">
                                    <h1 class="title is-1" <% if (user.username === "TerraBite" || user.username === "TerraBite Beta") { %>id="brand-TB"<% } %>>&bull;<%= user.username %></h1>
                                    <h2 style="margin-top: -1.2rem;">
                                        Status:
                                        <% if (user.presence.status === "online") { %>
                                        <span style="color: green;">●</span> Online
                                        <% } else if (user.presence.status === "idle") {%>
                                        <span style="color: yellow;">●</span> AFK
                                        <% } else if (user.presence.status === "dnd") { %>
                                        <span style="color: red;">●</span> Do not disturb
                                        <% } else {%>
                                        <span style="color: gray;">●</span> Invisible
                                        <% } %>
                                        <br>
                                        <br>
                                        Bot Creation Date: <%= creation %>
                                        <br>
                                        <br>
                                        Default prefix: <%= prefix %>
                                    </h2>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </section>
                </div>
                </div>
                <div class="column">
                    <section class="panel">
                        <p class="panel-heading">
                            Global Message
                        </p>
                        <div class="panel-block">
                            <form id="form" action="<%= currentPage %>" method="post">
                                <p class="control">
                                    <textarea name="message" class="textarea" maxlength="2000" placeholder="Message to send, in markdown"></textarea>
                                    <span class="help">This message will be sent to <strong>all <%= guildamount %> server<%= guildamount==1 ? "" : "s" %></strong>, so make sure it's important!</span>
                                </p>
                                <br>
                                <% var formButtonsUnsaved = false; %>
                                <% include ./partials/form-buttons %>
                                <% include ./partials/form-buttons-bar %>
                            </form>
                        </div>
                    </section>
                </div>
        </section>
    </div>
    <div class="modal" id="data">
        <div class="modal-background" onclick="closeWIPModal()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">WIP</p>
                <button class="delete" onclick="closeWIPModal()"></button>
            </header>
            <section class="modal-card-body" style="border-bottom-radius: 5px">
                <h1 class="has-text-dark">
                    Sorry but this is a WIP
                </h1>
            </section>
        </div>
    </div>
<script src="/js/miny-part/app.js"></script>
        <script>

            var $toggle = $('#nav-toggle-2');
            var $menu = $('#nav-menu-2');

            $toggle.click(function() {
                $(this).toggleClass('is-active');
                $menu.toggleClass('is-active');
            });
                        function opendatamodal() {
                            var ramModal = document.getElementById("data");
                            if (ramModal) {
                                ramModal.setAttribute("class", "modal is-active");
                            }
                        }
                        function closedatamodal() {
                            var ramModal = document.getElementById("data");
                            if (ramModal) {
                                ramModal.setAttribute("class", "modal");
                            }
                        }
        </script>
    <script src="/js/ping.js"></script>
    <script>
        var p = new Ping();
        p.ping("https://terrabite.cf/", function(data) {
            document.getElementById("ping").innerHTML = data + "ms";
        });
    </script>
</div>
</section>
    <% include ./partials/foot %>
    <% include ./partials/up %>
    <% include ./partials/sio %>
</body>
</html>