<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        (function() {
            'use strict';
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            var socket = io.connect('http://localhost:8080');
            function drawChart() {
                var options = {
                    title: 'System Utilisation',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    pointSize: 3
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                var dataArray = [['Time', 'CPU Average (%)', 'Used Memory (GB)'], [new Date(), 0, 0]];
                var data = google.visualization.arrayToDataTable(
                    dataArray
                );
                chart.draw(data, options);

                socket.on('resources', function (load) {
                    dataArray.push([new Date(), load.cpu, load.memory]);
                    data = google.visualization.arrayToDataTable(
                        dataArray
                    );
                    chart.draw(data, options);
                });
            }
        })();
    </script>
</head>
<body>
<div class="content">
    <h1>System Information</h1>
    <div id="curve_chart" style="height: 280px; position: relative;"></div>
</div>
</body>
</html>