<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>TerraBite</strong> by the TerraBite Development Group, merged/based off Timiki by Haxmat. Made with <a href="https://nodejs.org/en/">Node.js</a> and <a href="https://discord.js.org/">Discord.JS</a>. Site made with <a href="http://bulma.io/">Bulma</a>, <a href="http://fontawesome.io/">Font Awesome</a> and Particles-JS by <a href="http://vincentgarreau.com/en">Vincent Garreau</a>. Artwork by <a href="https://oskikiboy.me/">oskikiboy</a> and <a href="http://www.arceum.co/">tate</a>. Credit to the <a href="https://auroracommunity.co">Aurora Community Website</a> for our staff section. Credit to <a href="http://logbot.shaunoneill.com">LogBot</a> for parts of the authoriation script. Thanks to <a href="http://shaunoneill.com">XeliteXirish</a> for helping <a href="https://oskikiboy.me">oskikiboy</a> with the web interface.
                <br>
                <br>
                Copyright © The TerraBite Development Group, 2017. All rights reserved.
            </p>
            <div>
                <a class="icon" href="https://discord.gg/NZwzJ9Q" style="bottom: 3px">
                    <span>
                        <i class="fa socicon-discord" aria-hidden="true"></i>
                    </span>
                </a>
                &nbsp;
                <a class="icon"onclick="openWIPModal()">
                    <span class="icon " style="padding-bottom: 6px">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </a>
                &nbsp;
                <a class="icon" href="https://gitlab.com/TerraBite/TerraBite">
                    <span>
                        <i class="fa fa-gitlab" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>