<!-- Credit to Aurora -->
<section class="hero is-black" id="team">
    <br>
    <div class="container has-text-centered box" id="dark">
        <div class="heading">
            <h1 class="title" style="font-family: 'Raleway', sans-serif;color:#363636">Development team</h1>
            <div style="padding: -40px">
                <hr>
            </div>
            <h2 class="subtitle" style="color:#363636;"><i>Those who have created the bot</i></h2>
        </div>
        <br>
        <div class="columns" id="lead">
            <div class="column is-3"></div>
            <div class="column is-2">
                <a href="https://oskikiboy.me" target="_blank" rel="noopener noreferrer"><img src="https://oskikiboy.me/img/icon.png" class="someone founder"></a>
                <h3 style="font-family: 'Raleway', sans-serif;">oskikiboy</h3>
                <span class="tag is-danger" style="background-color: #5400e9">Project Lead &amp; Founder</span>
            </div>
            <div class="column is-2">
                <a href="https://sideofchips.co.uk" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/avatars/210683612369125386/3539947c07374b11e8d9035d7e80bba0.png?size=2048" class="someone lead"></a>
                <h3 style="font-family: 'Raleway', sans-serif;">Haxmat</h3>
                <span class="tag is-danger">Project Lead</span>
            </div>
            <div class="column is-2">
                <a href="http://www.arceum.co/" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/avatars/301668270648328192/ed9eb124553e2fccf7058f96edf621e1.jpg?size=1024" class="someone gfx"></a>
                <h3 style="font-family: 'Raleway', sans-serif;">Tate</h3>
                <span class="tag is-primary">GFX Designer & Project Lead</span>
            </div>
        </div>
        <br>
        <div class="columns has-text-centered">
            <div class="column is-2"></div>
            <div class="column is-2">
                <img src="https://cdn.discordapp.com/avatars/229232856063410176/05ed767353dc5e24d79666ad1220e1f6.webp?size=2048" class="someone ldev">
                <h3 style="font-family: 'Raleway', sans-serif;">motasim</h3>
                <span class="tag is-danger">Lead Developer</span>
            </div>
            <div class="column is-2">
                <a href="http://adampro.cu.cc" target="_blank" rel="noopener noreferrer"><img src="http://adampro.cu.cc/img/icon.png" class="someone ldev"></a>
                <h3 style="font-family: 'Raleway', sans-serif;">Cringy Adam</h3>
                <span class="tag is-danger">Lead developer</span>
            </div>
            <div class="column is-2">
                <img src="https://cdn.discordapp.com/avatars/178409772436029440/a_0fbc1a8e9ee2427c407940ac01548ee2.gif?size=2048" class="someone dev">
                <h3 style="font-family: 'Raleway', sans-serif;">Acorn</h3>
                <span class="tag is-info">Developer</span>
            </div>
            <div class="column is-2">
                <img src="https://cdn.discordapp.com/avatars/150707175214415872/a4b53a93b1685b6a021b7a44cc95b4e3.webp?size=1024" class="someone dev">
                <h3 style="font-family: 'Raleway', sans-serif;">Brandon14</h3>
                <span class="tag is-info">Developer</span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4"></div>
        </div>
    </div>
    <br>
</section>