<h1 class="title is-1 animated fadeIn" <% if (user.username === "TerraBite" || user.username === "TerraBite Beta") { %>id="brand-TB"<% } %>>&bull;<%= user.username %></h1>
<style>
    #brand-TB {
        font-family: 'aaarghnormal', sans-serif;
    }
</style>